<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/base.css">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        {% block style %}{% endblock %}
    </style>
</head>

<body>
        <div class="nav-bar">
            <div class="nav-title">{% block nav_title %}{% endblock %}</div>
            <button class="menu-toggle" onclick="toggleMenu()">☰</button>
            <div class="nav-buttons" id="navButtons">
                <button class="nav-btn btn-back" onclick="window.location.href='/pages/search'">Search</button>
                <button id="addBtn" class="nav-btn btn-add hidden" onclick="window.location.href='/pages/add'">Add</button>
                <button id="usersBtn" class="nav-btn btn-add hidden" onclick="window.location.href='/pages/users'">Users</button>
                <button id="loginBtn" class="nav-btn btn-login hidden" onclick="window.location.href='/pages/auth'">Login</button>
                <button id="logoutBtn" class="nav-btn btn-logout hidden" onclick="handleLogout()">Logout</button>
            </div>
        </div>

{% block content %}
{% endblock %}

    <div id="toast" class="toast"></div>

<script src="/static/js/base.js"></script>
    {% block script %}{% endblock %}
</body>
</html>